<div class="row justify-content-center">
<app-start-page></app-start-page>
<form [formGroup]="loginForm"
      class="col-sm-offset-4 col-sm-5 div_centered"
      (ngSubmit)="onLogin()">
  <div class="form-group">
    <label for="email">Enter Email</label>
    <input type="text"
      id="email"
      class="form-control"
      placeholder="Enter email"
      formControlName = "email"
      [ngClass] = "{'ng-touched': this.logged}"
    >
    <span
      *ngIf="emailIsInvalid()"
      class="help-block"
      >Please enter a valid email!</span>
  </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName = "password"
        placeholder="Enter password"
        class="form-control"
        [ngClass] = "{'ng-touched': this.logged}"
        >
    </div>
    <span
      *ngIf="noPassword()"
      class="help-block"
    >Enter the password!</span>
    <span
      *ngIf="tooSmallPassword()"
      class="help-block"
    >The password should contain more than 6 symbols!</span>
    <span
      *ngIf="tooBigPassword()"
      class="help-block"
    >The password should contain less than 20 symbols!</span>
  <button class="btn btn-primary" type="submit">Login</button>
  <div *ngIf="this.authService.signInErrorMessage">
    {{ this.authService.signInErrorMessage }}
  </div>
</form>
</div>
