<app-start-page></app-start-page>
<form [formGroup]="this.registerForm"
      (ngSubmit)="this.onRegister()">
  <div class="form-group">
    <label for="email">Enter Email</label>
    <input
      type="text"
      id="email"
      class="form-control"
      placeholder="Enter email"
      formControlName = "email"
      [ngClass] = "{'ng-touched': this.registered}"
    >
    <span
    *ngIf="this.emailIsInvalid()">
      Please enter a valid email!
    </span>
  </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName = "password"
        placeholder="Enter password"
        class="form-control"
        [ngClass] = "{'ng-touched': this.registered}"
      >
    </div>
    <span class="help-block"
    *ngIf="this.noPassword()"
    >Enter the password!</span>
    <span
      class="help-block"
      *ngIf="this.tooSmallPassword()"
    >The password should contain more than 6 symbols!</span>
    <span
      *ngIf="this.tooBigPassword()"
      class="help-block"
    >The password should contain less than 20 symbols!</span>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        id="firstName"
        class="form-control"
        placeholder="First Name"
        formControlName = "firstName"
        [ngClass] = "{'ng-touched': this.registered}"
      >
    </div>
    <span
      *ngIf="this.noFirstName()"
      class="help-block"
    >First Name is Required!</span>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        id="lastName"
        class="form-control"
        placeholder="Last Name"
        formControlName = "lastName"
        [ngClass] = "{'ng-touched': this.registered}"
      >
    </div>
  <span
    *ngIf="this.noLastName()"
    class="help-block"
  >Last Name is Required!</span>
  <button class="btn btn-primary" type="submit">Create account</button>
</form>
